body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}
A {
  color: #6699DD;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

#headerLogo {
}

table.categories {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

table.headerTitle{
	display: none;
}

tr.categories{
	cursor: hand;
	cursor: pointer;
}

td.categories {
	height:40px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
	border-top-color: #AAAAAA;
    border-top-style: solid;
    border-top-width: thin;
	border-bottom-color: #AAAAAA;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

hr.separator {
	border: 0px; 
	background-color: #AAAAAA; 
	height: 1px;
}

td.smallText, span.smallText, p.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

td.midText, span.midText, p.midText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

span.orderEdit {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

td.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
	
td.review {
	padding-left:10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

td.footer{
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #f8f8f9;
}

TABLE.productListing {
  border: 1px;
  border-style: solid;
  border-color: #b6b7cb;
  border-spacing: 1px;
}

.productListing-heading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #b6b7cb;
  color: #FFFFFF;
  font-weight: bold;
}

TD.productListing-data {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

SPAN.productSpecialPrice {
  color: #ff0000;
}

table.productsGrid {
  border-collapse: collapse;
}

td.productsGrid{
  border: 1px;
  border-style: solid;
  border-color: #b6b7cb;
  border-spacing: 1px;
}

table.productCell{
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  height: 100%;
}

td.stockWarning {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

td.pageHeading  {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

td.productHeader {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

#mobileButton table{
  background: url(../images/greybutton/background.gif) repeat-x;
  border-collapse: collapse;
}

#mobileButton td{
  height: 23px;
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  color: navy;
  vertical-align: middle;
  padding: 0px;
  border: 0;
  cursor: pointer;
}

#mobileForm input[type="text"],input[type="password"], select {
	width: 150px;
}

#productAttribute select {
	width: 100px;
}

#errorMsg {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TABLE.headerNavigation {
	border-top: solid 1px #99BBEE;
	background-color: #6699DD;
	border-bottom: solid 1px #5588DD;
}

TD.headerNavigation {
  font-family: Helvetica;
  font-size: 16px;
  font-weight : bold;
  text-align: center;
  padding-left: 5px;
}

TD.headerNavigation A { 
  color: #FFFFFF;
  margin-right: 5px;
}

A.headerNavigation:hover {
  color: #ffffff;
}

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

